In [292]:
import pandas as pd
from Bio.SeqIO import parse
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq

In [293]:
csv_contents = pd.read_csv("sequences.csv")
fasta_file = open("sequences.fasta")
records = parse(fasta_file,"fasta")

In [294]:
n = len(csv_contents)

sequ = []
for i in range(n):
    sequ.append('')
    
csv_contents['Sequence'] = sequ

In [295]:
csv_contents.head(2)

,Accession,Release_Date,Species,Length,Geo_Location,Host,Isolation_Source,Collection_Date,Sequence
0,NC_045512,2020-01-13T00:00:00Z,Severe acute respiratory syndrome-related coro...,29903.0,China,Homo sapiens,NaN,2019-12,
1,MT350234,2020-04-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,1047.0,China: Nanchang,Homo sapiens,NaN,2020-01,

In [296]:
count = 0
for index, row in csv_contents.iterrows():
    for record in records:
        if row['Accession'] == str(record.id):
            csv_contents.at[count, 'Sequence'] = str(record.seq)
            break
    count += 1

In [297]:
csv_contents.head()

,Accession,Release_Date,Species,Length,Geo_Location,Host,Isolation_Source,Collection_Date,Sequence
0,NC_045512,2020-01-13T00:00:00Z,Severe acute respiratory syndrome-related coro...,29903.0,China,Homo sapiens,NaN,2019-12,ATTAAAGGTTTATACCTTCCCAGGTAACAAACCAACCAACTTTCGA...
1,MT350234,2020-04-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,1047.0,China: Nanchang,Homo sapiens,NaN,2020-01,CAAGTCATCGTCAACAACCTAGACAAATCAGCTGGTTTTCCATTTA...
2,MT350236,2020-04-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,29865.0,USA: VA,Homo sapiens,NaN,2020-03,ACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAATC...
3,MT350237,2020-04-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,29866.0,USA: VA,Homo sapiens,NaN,2020-03,AACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAAAT...
4,MT350238,2020-04-17T00:00:00Z,Severe acute respiratory syndrome-related coro...,29826.0,USA: VA,Homo sapiens,NaN,2020-03,CCAACTTTCGATCTCTTGTAGATCTGTTCTCTAAACGAACTTTAAA...